<!DOCTYPE html>

<html>

<head>

<title>Dashboard</title>


<style>

body{

background:#0b0b0f;
color:white;
font-family:Arial;

}


.container{

width:500px;
margin:80px auto;
background:#15151d;
padding:40px;
border-radius:20px;
text-align:center;

}



.avatar{

width:150px;
border-radius:50%;

}



.box{

background:#09090c;
padding:20px;
border-radius:10px;
margin-top:20px;

}



a{

color:#4da6ff;

}



.button{

display:inline-block;
margin-top:30px;
padding:15px 30px;
background:#1b2838;
color:white;
text-decoration:none;
border-radius:10px;

}

</style>


</head>


<body>


<div class="container">


<img 
class="avatar"
src="{{user.avatar}}"
>


<h1>
{{user.name}}
</h1>



<div class="box">


<p>

<b>SteamID:</b>

<br>

{{user.steamid}}

</p>


<p>

<b>Perfil:</b>

<br>

<a href="{{user.profile}}" target="_blank">

Abrir Steam

</a>

</p>



<p>

🟢 Sesión activa

</p>



</div>



<a class="button" href="/logout">

Cerrar sesión

</a>



</div>


</body>


</html>