<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">

<title>SkinShop</title>


<style>

body{

background:#101010;
color:white;
font-family:Arial;
text-align:center;
padding-top:80px;

}


.avatar{

width:120px;
border-radius:50%;

}


.button{

display:inline-block;
padding:12px 25px;
background:#1b2838;
color:white;
text-decoration:none;
border-radius:8px;
margin-top:20px;

}

</style>


</head>


<body>


<h1>SkinShop</h1>



{% if user %}


<img class="avatar"
src="{{user.avatar}}">


<h2>
{{user.name}}
</h2>


<p>
SteamID:
{{user.steamid}}
</p>


<a class="button"
href="{{user.profile}}">
Perfil Steam
</a>


<br>


<a class="button"
href="/logout">
Cerrar sesión
</a>



{% else %}


<a class="button"
href="/login">

🔥 Entrar con Steam

</a>



{% endif %}



</body>

</html>